@charset "utf-8";

@font-face
{
	font-family: Techno Till dawn;
	src:url("fonts/techno__til_dawn-webfont.eot");
	src:
		url("fonts/techno__til_dawn-webfont.woff")format("woff"),
		url("fonts/techno__til_dawn-webfont.svg")format("svg");
}

body
{
	margin-top: 10%;
	font-family: Techno Till dawn;
	
	background-color:#18171A;
	background-image: url(content/pizza.gif);
	background-size: contain, cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
	
	
		
}

#rainbow
{
	text-align: center;
	vertical-align: middle;
	overflow: hidden
}


#enterButton
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-position: center;
	background-color: #F0FF00;
	border: thin;
	padding: 15px 32px;
	font-size: 15px;
	font-family: Techno Till dawn;
		
}

#miniheading
{
	vertical-align: middle;
	text-shadow: 5px 5px 1px #101010;
	text-align: center;
	font-size: 20px;
	transform: scaleY(1.2);
	color: aquamarine;
}


h1
{
	vertical-align: middle;
	text-shadow: 5px 5px 1px black;
	color: #00FF05;
	text-align: center;
	font-size: 50px;
	font-weight: 100;
	text-decoration:underline;
	text-decoration-style: solid;
	text-decoration-color: #7900FF;
	
	
}



