@charset "utf-8";
/* CSS Document */


body{
	background: #0A2246;
	overflow: auto;
	margin: 0;
	padding: 20px;
	margin-bottom: 50px;
	background-image: url('content/terraria background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@font-face{
	font-family: "PixelText";
	src: url('content/fonts/pcsenior/pcsenior-webfont.ttf');
	src:
	url('content/fonts/pcsenior/pcsenior-webfont.woff');
	url('content/fonts/pcsenior/pcsenior-webfont.eot');
	url('content/fonts/pcsenior/pcsenior-webfont.woff2');
	url('content/fonts/pcsenior/pcsenior-webfont.svg');
}

h1, p, button{
	font-family: 'PixelText';
}


button{
	border-radius: 5px;
}

header{
	width: auto;
	left: 0px;
	right: 0px;
	position: relative;
	height: 15vh;
	background-color: rgba(46,109,203,0.6);
	box-sizing: border-box;
	vertical-align: middle;
	z-index: 3;
	display: block;
}

nav {
	top: 50%;
	left: 50%;
	width: 100%;
	position: relative;
	text-align: justify;
	background-color: rgba(44,72,112,0.5); /*rgba(61,67,111,0.7);*/
	vertical-align: middle;
	height: 12vh;
	transform: translate(-50%, -50%);
	/* background: #2C4870; */
	text-align: center;
	z-index: 4;
}



nav button{
	top: 50%;
	position: relative;
	transform: translate(0,-50%);
	padding-left: 2.2vw;
	padding-right: 2.2vw;
	margin-left: 1.2vw;
	margin-right: 1.2vw;
	text-align: center;
	height: 80%;
	font-size: 1.2rem;
	background-image: url('content/Button Grass.png');
	background-size: contain;
	/* background-color: #FF6A26; */
	border: none;
	display: inline-block;
	opacity: 1;
}

nav button:hover{
	filter: brightness(150%);
}

#imgWrapper{
	left: 0px;
	top: 0px;
	position:relative;
	display: inline;
	height: 15vh;
	z-index: 5;
	width: fit-content;
	float: left;

}

#logo{
	position: relative;
	height: 15vh;
	float: none;
	display: block;
	z-index: 5;
}

#DropDown{
	position: relative;
	margin: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 12vh;
	z-index: 3;
	text-align: right;
	z-index: 10;
}


#DropDownContent{
	display: none;
	background-color: rgba(255,255,255,0);
	margin: 0;
	margin-left: 50%;
	transform: translate(-50%,0);
	padding: 0;
	padding-top: 1vh;
	padding-bottom: 1vh;
	position: absolute;
	z-index: 8;
	text-align: right;
	width: 86%;
	z-index: 11;
	
	
	
}

/* #DropDown:hover #DropDownContent{ */
	/* display:block !important; */
/* } */

.DropDownButton{
	padding: 0;
	padding-top: 2vw;
	padding-bottom: 2vw;
	margin-top: 10vh;
	margin-bottom: 1vh;
	overflow: hidden;
	position: relative;
	margin: 0;
	margin-left: 50%;
	z-index: 3;
	display: inline-block;
	transform: translate(-50%,0);
	text-align: right;
	text-align: center;
	width: 80%;
}

.DropButton:hover{
	background-color: #6A2506;
}

#HomeBody{
	z-index: -1;
	margin-top: 30px;
	top: 7%;
	left: 50%;
	position: relative;
	box-sizing: border-box;
	background-origin: border-box;
	height: auto;
	width: 80vw;
	transform: translate(-50%,0px);
	background-image: url('content/old paper.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border: 15px solid transparent;
	padding: 15px;
	border-image: url('content/Border.png') 10 round;
	
}

#HomeBody p, h1{
	
	top: 7%;
	position: relative;
	text-align: center;
	line-height: 4.5vw;
	
}

#HomeBody p{
	font-size: 2.5vw;
}

#HomeBody h1{
	font-size: 3.3vw;
}

#HomeBody img{
	top: 0%;
	left: 0%;
	position: absolute;
	z-index: -3;
	height: 100%;
	width: 100%;
	object-fit: contain;
	opacity: 0.6;
	
}

#AboutBody {
	z-index: -1;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,0);
	width: 75%;
}


#AboutBody p{
	text-align: center;
	color: rgba(0,0,0,1);
	/* text-shadow: 2px 2px 8px black;  */
	
}

#AboutBody h1{
	text-align: center;
	color: #000000;
	font-size: 3vw;
}

.InfoArea p{
	font-size: 2.5vw;
	font-stretch: normal;
	line-height: 3vw;
	
}

#InfoContainer{
	position: relative;
	margin-top: 5%;
}

.InfoArea{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #AD3600;
	background-image: url('content/SandBG.png');
}

.InfoLinkButton{
	font-size: 3vw;
	font-family: 'PixelText';
	display: inline-block;
	margin-top: 40px;
	margin: auto;
	margin: 3vw;
	padding: 5vw;
	background-color: #AD3600;
	background-image: url(content/GraniteBG.png);
	text-decoration: none;
	color: #21DC38;
	border-radius: 8px;
}

.InfoLinkButton:hover{
	background-color: #6A2506;
}

#AboutLinkButtonContainer{
	Text-align: center;
	width: 100%;

}



#CustomiserInfo{
	width: 300px;
	padding:0;
	margin:0;
	float: right;
	display: inline-block;
}

#ItemsContainer{
	top: 50%;
	position:relative;
	background-color: aqua;
	width: 300px;
	height: 600px;
	display: inline-block;
	padding-left: 150px;
	padding-right: 150px;
	float: right;
	transform: translate(0, -50%);
}

#CustomiserContainer{
	position: absolute;
	height: 600px;
	width: 900px;
	left: 50%;
	transform: translate(-50%,0);
	margin: 50px;
}

#Customiser{
	position: relative;
	float: left;
	background-image: url("content/Temp BG.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 500px;
	height: 600px;
	background-color: #AD3600;
	font-size: 4rem;
	display: inline-block;
}

#characterContainer{
	position: relative;
	width: 100px;
	height: 250px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#characterHead{
	position: relative;
	transform: translate(-50%,0);
	left: 50%;
	height: 50px;
	width: 50px;
	background-color: blanchedalmond;
}

#characterHead img{
	width: 50px;
}

.CharacterImg{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	z-index: 1;
}
#characterChest img{
	z-index:0;
	left: 0;
}

#characterChest{
	margin: 0;
	padding: 0;
	position: relative;
	transform: translate(-50%,0);
	left: 50%;
	height: 100px;
	width: 60px;
	background-color: blanchedalmond;
}

#characterArm1{
	z-index: 1;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	left: 0%;
	height: 80px;
	width: 22px;
	background-color: blanchedalmond;
}

#characterArm2{
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	right: 0%;
	height: 80px;
	width: 22px;
	background-color: blanchedalmond;
}

#characterLeg1{
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	left: 20%;
	height: 60px;
	width: 24px;
	background-color: blanchedalmond;
}

#characterLeg2{
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	right: 20%;
	height: 60px;
	width: 24px;
	background-color: blanchedalmond;
}




.Item{
	display:block;
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	margin: 5px;
}

.Item img{
	width: 48px;
	height: 48px;
	border: #000000;
	object-fit: contain;
}

#ContactContainer{
	margin-top: 50px;
	text-align: center;
}

#ContactContainer h2{
	color: #009817;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#MediaContainer{
	position: absolute;
	overflow: hidden;
	background-color: #0D48A0;
	width: 80%;
	margin-top: 100px;
	padding-top: 200px;
	padding-bottom: 200px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(content/BlueStoneBG.png);
}

.bxslider{
	height: 100%;
}

.bx-wrapper{
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%,0%); */
}

.bx-viewport{
	background-color: #0D58B0;
}

.imageDiv{
	position: relative;
	height: 100%;
	padding: 0;
}

.sliderImage{
	position: relative;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/* height: 400px; */
}

#ReviewContainer{
	position: absolute;
	overflow: hidden;
	background-color: #0D48A0;
	width: 100%;
	margin-top: 100px;
	padding-top: 200px;
	padding-bottom: 200px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(content/RedStoneBG.png);
}

.reviewSlider{
	height: 800px;
	width: 70%;
}

.reviewDiv{
	width: 600px;
}

.reviewDiv p{
	position:relative;
	text-align: center;
	font-size: 1.5vh;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	vertical-align: middle;
	
}

#ReviewContainer .bx-wrapper .bx-viewport{
	background-color: #BBBBDD;
}

#BuyGame{
	margin-top: 10%;
	margin-left: 50%;
	transform: translate(-50%,0);
	font-size: 10vw;
	background-color: #21DC38;
	color: #008611;
	border: none;
}
#BuyGame:hover{
	background-color: #10DD99;
}

@media screen and (max-width: 1040px) {
	
	
	#CustomiserContainer {
		position: absolute;
		margin: 0;
		width: 300px;
		height: auto;
		left: 50%;
		transform: translate(-50%,0);
	}
	
	#Customiser{
		  display: block;
		  float: none;
		  width: 300px;
	}
	
	#CustomiserInfo{
		display: block;
		float: none;
		width: 300px;
	}
	
	#ItemsContainer{
		display: block;
		float: none;
		width: 200px;
	}
}

@media screen and (max-width: 1340px){
	nav button{
		font-size: 1vw;
	}
}

@media screen and (max-width: 1000px){
	nav button{
		margin-left: 0.5vw;
		margin-right: 0.5vw;
	}
}

@media screen and (max-width: 890px){
	
	nav{
		height: 12vw;
	}
	
	nav button{
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		height: 8vw;
		font-size: 0.7vw;
	}
	
	#DropDown{
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		height: 12vw;
		font-size: 2vw;
	}
	
	header{
		height: 15vw;
	}
	
		#imgWrapper{
		height: 15vw;
	}
	
	#logo{
		height: 15vw;
		top: 50%; 
		transform: translate(0, -50%);
	}
}

@media screen and (max-width: 830px){
	
	nav{
		height: 12vw;
	}
	
	nav button{
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		height: 8vw;
		font-size: 1vw;
	}
	
	#DropDown{
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		height: 12vw;
		font-size: 2vw;
	}
	
	header{
		height: 15vw;
	}
	
	#imgwrapper{
		height: 15vw;
	}
	
	#logo{
		height: 12vw;
	}
}

@media not all and (hover: none){
	#DropDown:hover #DropDownContent{
		display:block !important;
	}
}

@media (hover: none){

}

@media screen and (max-width: 700px){
	
	#logo{
		height: 8vw;
		margin-left: 1vw;
	}
	
	nav button{
		font-size: 1.5vw;
		margin-left: 0.01vw;
		margin-right: 0.01vw;
		padding: 1vw;
	}
	
}

@media screen and (orientation:portrait) {
	.reviewDiv p{
	font-size: 1.5vw;
}

@media screen and (orientation:landscape) {
	.reviewDiv p{
	font-size: 1.5vh;
}


}